<div class="panel-group container-fluid row" id="groove" ng-controller="GrooveCtrl">
    <!-- <div class="col-lg-12 alert alert-danger">
        This is a work in progress. Basic calculations should be fine, but other functions (input, saving, etc.) will not be as smooth as the Token calculator.
    </div> -->
    <!--- remaining time -->
    <div class="col-lg-3 col-padding">
        <form name="timing" class="timing">

            <div class="panel" ng-class="timing.$error.required ? 'panel-warning' : 'panel-default'">
                <div class="panel-heading" ng-click="grooveCollapse.time = !grooveCollapse.time;setLocalCollapse()">
                    <h3 class="panel-title">
                        <span class="glyphicon" ng-class="{'glyphicon-chevron-down': grooveCollapse.time, 'glyphicon-chevron-up': !grooveCollapse.time}"></span>
                        Remaining Time</h3>
                </div>

                <div uib-collapse="grooveCollapse.time" class="panel-body" ng-init="initTime();" bs-loading-overlay>
                    <div class="btn-group btn-group-justified" style-"width: 100%; display: block">
                        <label class="btn btn-primary" ng-model="time.kind" uib-btn-radio="'auto'" ng-click="updateTimeKind('auto')">Automatic</label>
                        <label class="btn btn-primary" ng-model="time.kind" uib-btn-radio="'manu'" ng-click="updateTimeKind('manu')">Manual</label>
                    </div>
                    <hr>
                    <div ng-if="time.kind=='auto'">
                        <div class="alert alert-warning" ng-if="!time.deadline" class="list-group-item bg-warning">No ongoing event.</div>

                        <ul class="list-group" ng-if="time.deadline">
                            <li class="list-group-item">Current time:
                                <span class="label label-default pull-right">{{time.clock | date: 'medium'}}</span>
                            </li>
                            <li ng-if="time.deadline" class="list-group-item">Event ends at:
                                <span class="label label-default pull-right">{{time.deadline | date: 'medium'}}</span>
                            </li>
                            <li ng-if="time.deadline" class="list-group-item">Time left:
                                <span class="label label-default pull-right">{{time.remainingMs/1000/60 | time:'mm':'hhh mmm':false}}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="time.kind=='manu'">
                        <div class="form-group col-xs-12" style="margin-bottom:0px;">
                            <label for="manualTime">Time left (in hours):</label>
                            <input name="hours" class="col-xs-12" type="number" min="0" name="manualTime" ng-model="time.hours" ng-change="updateTimeHrs()" required></input>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- groove settings -->
    <div class="col-lg-3 col-padding">
        <div class="panel panel-default">
            <div class="panel-heading" ng-click="grooveCollapse.song = !grooveCollapse.song;setLocalCollapse()">
                <h3 class="panel-title">
                    <span class="glyphicon" ng-class="{'glyphicon-chevron-down': grooveCollapse.song, 'glyphicon-chevron-up': !grooveCollapse.song}"></span>
                    Song Settings</h3>
            </div>
            <div uib-collapse="grooveCollapse.song" class="panel-body">
                <div class="form-group col-xs-12">
                    <label class="control-label">Groove Difficulty:
                        <div class="btn-group btn-group-justified">
                            <label class="btn btn-primary diffs" ng-model="grve.diff" uib-btn-radio="'Debut'" ng-change="updateGrve()">
                                Debut</label>

                            <label class="btn btn-primary diffs" ng-model="grve.diff" uib-btn-radio="'Regular'" ng-change="updateGrve()">
                                Regular</label>

                            <label class="btn btn-primary diffs" ng-model="grve.diff" uib-btn-radio="'Pro'" ng-change="updateGrve()">
                                Pro</label>

                            <label class="btn btn-primary diffs" ng-model="grve.diff" uib-btn-radio="'Master'" ng-change="updateGrve()">
                                Master/+</label>
                        </div>
                    </label>

                </div>

                <div class="form-group col-xs-12">
                    <label class="control-label">Groove Score:</label>
                    <div class="btn-group btn-group-justified">
                        <label class="btn btn-primary" ng-model="grve.score" uib-btn-radio="'C'" ng-change="updateGrve()">
                            C</label>
                        <label class="btn btn-primary" ng-model="grve.score" uib-btn-radio="'B'" ng-change="updateGrve()">
                            B</label>
                        <label class="btn btn-primary" ng-model="grve.score" uib-btn-radio="'A'" ng-change="updateGrve()">
                            A</label>
                        <label class="btn btn-primary" ng-model="grve.score" uib-btn-radio="'S'" ng-change="updateGrve()">
                            S</label>

                    </div>
                </div>

                <div class="form-group col-xs-12">
                    <label class="control-label" for="appl">Applause Level:
                        <select name="appl" id="appl" ng-model="grve.appl" ng-options="lvl for lvl in applauseLevels" ng-change="updateGrve()"></select>
                    </div>
                    <div class="form-group">
                        <label>Encore Difficulty<br/>
                            <div class="btn-group btn-group-justified">
                                <label class="btn btn-primary btn-sm diffs" ng-model="encr.diff" ng-change="updateEncr()" uib-btn-radio="'Debut'">
                                    Debut</label>

                                <label class="btn btn-primary btn-sm diffs" ng-model="encr.diff" ng-change="updateEncr()" uib-btn-radio="'Regular'">
                                    Regular</label>

                                <label class="btn btn-primary btn-sm diffs" ng-model="encr.diff" ng-change="updateEncr()" uib-btn-radio="'Pro'">
                                    Pro</label>

                                <label class="btn btn-primary btn-sm diffs" ng-model="encr.diff" ng-change="updateEncr()" uib-btn-radio="'Master'">
                                    Master</label>

                                <label class="btn btn-primary btn-sm diffs" ng-model="encr.diff" ng-change="updateEncr()" uib-btn-radio="'Master+'">
                                    Master+</label>

                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Groove Score:</label>
                        <div class="btn-group btn-group-justified">
                            <label class="btn btn-primary" ng-model="encr.score" uib-btn-radio="'C'" ng-change="updateEncr()">
                                C</label>
                            <label class="btn btn-primary" ng-model="encr.score" uib-btn-radio="'B'" ng-change="updateEncr()">
                                B</label>
                            <label class="btn btn-primary" ng-model="encr.score" uib-btn-radio="'A'" ng-change="updateEncr()">
                                A</label>
                            <label class="btn btn-primary" ng-model="encr.score" uib-btn-radio="'S'" ng-change="updateEncr()">
                                S</label>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- status -->
        <div class="col-lg-3 col-padding" id="status">
            <div class="panel status" ng-class="status.$error.required ? 'panel-warning' : 'panel-default'">
                <div class="panel-heading" ng-click="grooveCollapse.status = !grooveCollapse.status;setLocalCollapse()">
                    <h3 class="panel-title">
                        <span class="glyphicon" ng-class="{'glyphicon-chevron-down': grooveCollapse.status, 'glyphicon-chevron-up': !grooveCollapse.status}"></span>
                        Status</h3>
                </div>
                <div uib-collapse="grooveCollapse.status" class="panel-body">
                    <form name="status" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label" for="lvl">Rank:</label>
                            <input class="col-xs-12" type="number" min="2" name="lvl" ng-model="user.lvl" ng-change="updateStatus()" reg-ex-input reg-ex="^[0-9]*$" required>
                            <br/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="exp">Current EXP:</label>
                            <input class="col-xs-12" type="number" min="0" name="exp" ng-model="user.exp" reg-ex-input reg-ex="^[0-9]*$" ng-change="updateStatus()" required><br/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="pts">Points Earned:</label>
                            <input class="col-xs-12" type="number" min="0" name="pts" ng-model="user.pts" ng-change="updateStatus()" reg-ex-input reg-ex="^[0-9]*$" required><br/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="end">Goal:</label>
                            <input class="col-xs-12" type="number" min="0" name="end" ng-model="user.end" ng-change="updateStatus()" reg-ex-input reg-ex="^[0-9]*$" required>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- results -->

        <div class="col-lg-3 col-padding">
            <div class="panel" ng-class="status.$error.required ? 'panel-warning' : 'panel-primary'">
                <div class="panel-heading" ng-click="grooveCollapse.results = !grooveCollapse.results;setLocalCollapse()">
                    <h3 class="panel-title">
                        <span class="glyphicon" ng-class="{'glyphicon-chevron-down': grooveCollapse.results, 'glyphicon-chevron-up': !grooveCollapse.results}"></span>
                        Results</h3>
                </div>

                <div uib-collapse="grooveCollapse.results" class="panel-body" bs-loading-overlay>
                    <div ng-show="!time.deadline || timing.$error.required" class="alert alert-warning">
                        <span ng-show="!time.deadline">No ongoing event.</span>
                        <span ng-show="timing.$error.required">Missing time left input.</span>
                    </div>

                    <div class="alert alert-warning" ng-show="status.$error.required" style="margin-top:15px;">
                        Missing input from Status.
                    </div>
                    <div ng-hide="status.$error.required || timing.$error.required">
                        <ul class="list-group">
                            <li class="list-group-item">Grooves Needed:
                                <span class="label label-default pull-right">{{calcGroovesNeeded() | number: 0}}</span>
                            </li>
                            <li class="list-group-item">Min. Points/Day:
                                <span class="label label-default pull-right">{{calcPointsPerDay() | number: 0}}</span>
                            </li>
                            <li class="list-group-item">Pts w/ Natural Stamina:
                                <span class="label label-default pull-right">{{calcNaturalPts() | number: 0}}</span>
                            </li>
                            <li class="list-group-item">End Rank:
                                <span class="label label-default pull-right">{{calcEndRank()}}</span>
                            </li>
                            <li class="list-group-item">Stamina Needed:
                                <span class="label label-default pull-right">{{calcStamDeficit() | number: 0}}</span>
                            </li>
                            <li ng-show="enoughTime()" class="list-group-item">Min. Play Time/Day
                                <span class="label label-default pull-right">{{calcPlayTime()/(time.remainingMs/3600000/24) | time:'mm':'hhh mmm':false}}</span>

                            </li>
                            <li class="list-group-item">Total Play Time:
                                <span class="label label-default pull-right" ng-class="enoughTime() ? '' : 'label-danger'">{{calcPlayTime() | time:'mm':'hhh mmm':false}}</span>
                            </li>

                        </ul>
                        <center ng-hide="enoughTime()" class="text-danger" style="margin-top: 5px">The event will have ended before reaching your goal.</center>

                    </div>
                </div>
            </div>
