<div class="panel-heading">
    <a data-toggle="collapse" href="#toknSettings">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-minus"></span>
            Groove Settings</h3>
    </a>
</div>
<div id="grveSettings" class="panel-collapse collapse in">
    <div class="panel-body">
        <form class="form-horizontal" role="form" name="grooves">
            <div class="form-group">
                <label>Groove Difficulty<br/>
                    <div class="btn-group">
                        <label class="btn btn-info btn-sm" ng-model="grve.grooveDiff" uib-btn-radio="'Debut'">
                            Debut</label>

                        <label class="btn btn-info btn-sm" ng-model="grve.grooveDiff" uib-btn-radio="'Regular'">
                            Regular</label>

                        <label class="btn btn-info btn-sm" ng-model="grve.grooveDiff" uib-btn-radio="'Pro'">
                            Pro</label>

                        <label class="btn btn-info btn-sm" ng-model="grve.grooveDiff" uib-btn-radio="'Master'">
                            Master</label>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Groove Score<br/>
                <div class="btn-group">
                    <label class="btn btn-info" ng-model="grve.grooveScore" uib-btn-radio="'S'">
                        S</label>

                    <label class="btn btn-info" ng-model="grve.grooveScore" uib-btn-radio="'A'">
                        A</label>

                    <label class="btn btn-info" ng-model="grve.grooveScore" uib-btn-radio="'B'">
                        B</label>

                    <label class="btn btn-info" ng-model="grve.grooveScore" uib-btn-radio="'C'">
                        C</label>
                      </label>
                </div>
            </div>

            <div class="form-group">
                <label>Encore Difficulty<br/>
                    <div class="btn-group">
                        <label class="btn btn-info btn-sm" ng-model="grve.encoreDiff" uib-btn-radio="'Debut'">
                            Debut</label>

                        <label class="btn btn-info btn-sm" ng-model="grve.encoreDiff" uib-btn-radio="'Regular'">
                            Regular</label>

                        <label class="btn btn-info btn-sm" ng-model="grve.encoreDiff" uib-btn-radio="'Pro'">
                            Pro</label>

                        <label class="btn btn-info btn-sm" ng-model="grve.encoreDiff" uib-btn-radio="'Master'">
                            Master</label>

                        <label class="btn btn-info btn-sm" ng-model="grve.encoreDiff" uib-btn-radio="'Master+'">
                            Master+</label>


                    </label>
                </div>
            </div>

            <div class="form-group">
                <label>Encore Score<br/>
                <div class="btn-group">
                    <label class="btn btn-info" ng-model="grve.encoreScore" uib-btn-radio="'S'">
                        S</label>

                    <label class="btn btn-info" ng-model="grve.encoreScore" uib-btn-radio="'A'">
                        A</label>

                    <label class="btn btn-info" ng-model="grve.encoreScore" uib-btn-radio="'B'">
                        B</label>

                    <label class="btn btn-info" ng-model="grve.encoreScore" uib-btn-radio="'C'">
                        C</label>
                      </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="appl">Applause Level:
                    <select name="appl" id="appl" ng-model="grve.appl" ng-options="appl for appl in grve.applauseLevels"></select>
                </label>
            </div>

        </div>
    </div>
