<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>deresute event calculator</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.1.js"></script>
        <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
        <script src="https://rawgit.com/grevory/angular-local-storage/master/dist/angular-local-storage.min.js"></script>
        <script src="https://rawgit.com/bsalex/angular-loading-overlay/master/dist/angular-loading-overlay.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>
        <script src="https://rawgit.com/rpocklin/ui-router-tabs/master/src/ui-router-tabs.js"></script>
        <script src="https://rawgit.com/bsalex/angular-loading-overlay-http-interceptor/master/dist/angular-loading-overlay-http-interceptor.js"></script>

        <script src="javascripts/app.js"></script>
                <script src="javascripts/constants.js"></script>
        <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/custom.css">
        <link rel="icon" type="image/png" href="favicon.png">
        <!--<base href="/drst-calc/"/>
        [if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    </head>

    <body ng-app="calc">
        <header>
            <h2>deresute event calculator</h2>
        </header>
        <section class="container" ng-controller="TabCtrl">

          <tabs data="tabs" type="tabs" class="tab-animation"></tabs>

        </section>
        <footer>
            <small class="text-muted">
                <div ng-controller="ChangelogCtrl" style="display: inline">
                    <a href="#" ng-click="open()">Changelog</a>
                </div>
                &mdash; Issues? Contact
                <a href="http://twitter.com/aloIaninetales">@aloIaninetales</a>
                &mdash;
                <div ng-controller="ResourcesCtrl" style="display: inline">
                    <a href="#" ng-click="open()">Resources used</a>
                </div>
            </small>
        </li>
    </footer>

</body>

</html>
