<form name="status" class="form-horizontal" role="form" novalidate>
    <div class="form-group row">
        <label class="col-xs-12 col-md-4 col-form-labl" for="lvl">Current Rank</label>
        <input class="col-xs-12 col-md-8" type="number" min="2" max="300" name="lvl" ng-model="user.lvl" ng-change="updateStatus()" reg-ex-input reg-ex="^[0-9]*$" required><br/>
    </div>
    <div class="form-group row">
        <label class="col-xs-12 col-md-4 col-form-labl" for="exp">Current EXP</label>
        <input class="col-xs-12 col-md-8" type="number" min="0" max="{{user.expToNext}}" name="exp" ng-model="user.exp" reg-ex-input reg-ex="^[0-9]*$" ng-change="updateStatus()" required><br/>
    </div>
    <div class="form-group row">
        <label class="col-xs-12 col-md-4 col-form-labl" for="pts">Points Earned</label>
        <input class="col-xs-12 col-md-8" type="number" min="0" name="pts" ng-model="user.pts" ng-change="updateStatus()" reg-ex-input reg-ex="^[0-9]*$" required><br/>
    </div>
    <div class="form-group row">
        <label class="col-xs-12 col-md-4 col-form-labl" for="tok">Current Tokens</label>
        <input class="col-xs-12 col-md-8" type="number" min="0" name="tok" ng-model="user.tok" ng-change="updateStatus()" reg-ex-input reg-ex="^[0-9]*$" required><br/>
    </div>
    <div class="form-group row">
        <label class="col-xs-12 col-md-4 col-form-labl" for="end">Goal</label>
        <input class="col-xs-12 col-md-8" type="number" min="0" name="end" ng-model="user.end" ng-change="updateStatus()" reg-ex-input reg-ex="^[0-9]*$" required>
    </div>
    <p class="text-warning" ng-show="settings.$error.required">Missing field. Make sure you've input everything!</span>
</form>
