<div class="panel-group container-fluid row" id="token" ng-controller="TokenCtrl">
    <!-- remaining time -->
    <div class="col-lg-3 col-padding">
        <div class="panel panel-default">
            <div class="panel-heading" ng-click="collapse.time = !collapse.time">
                <h3 class="panel-title">
                    <span class="glyphicon" ng-class="{'glyphicon-chevron-down': collapse.time, 'glyphicon-chevron-up': !collapse.time}"></span>
                    Remaining Time</h3>
            </div>
            <div uib-collapse="collapse.time" class="panel-body">

                <div class="btn-group btn-group-justified" style-"width: 100%; display: block">
                    <label class="btn btn-primary" ng-model="time.kind" uib-btn-radio="'auto'" ng-click="initTime('auto')">Automatic</label>
                    <label class="btn btn-primary" ng-model="time.kind" uib-btn-radio="'manu'" ng-click="initTime('manu')">Manual</label>
                </div>
                <hr>
                <div ng-if="time.kind=='auto'">
                    <div class="alert alert-warning" ng-if="!time.deadline" class="list-group-item bg-warning">No ongoing event.</div>

                    <ul class="list-group" ng-if="time.deadline">
                        <li class="list-group-item">Current time:
                            <span class="badge">{{time.clock | date: 'medium'}}</span>
                        </li>
                        <li ng-if="time.deadline" class="list-group-item">Event ends at:
                            <span class="badge">{{time.deadline | date: 'medium'}}</span>
                        </li>
                        <li ng-if="time.deadline" class="list-group-item">Time left:
                            <span class="badge">{{time.remainingMs/1000/60 | time:'mm':'hhh mmm':false}}
                            </span>
                        </li>
                    </ul>
                </div>
                <div ng-if="time.kind=='manu'">
                    <ul class="list-group" style="margin-bottom: 15px;" ng-if="time.deadline">
                        <li class="list-group-item list-group-item-tall">Current time:
                            <span class="badge">{{time.clock | date: 'medium'}}</span>
                        </li>
                    </ul>
                    <form name="timing" class="form-horizontal timing" ng-init="initManuTime()">
                        <div class="form-group col-xs-12" style="margin-bottom:0px;">
                            <label for="manualTime">Time left (in hours):</label>
                            <input class="col-xs-12" type="number" min="0" name="manualTime" ng-model="time.hours" ng-change="updateTimeHrs()"></input>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <form name="tokenSettings" ng-init="formInit()" novalidate>
        <!-- live settings -->
        <div class="col-lg-3 col-padding">

            <div class="panel panel-default" ng-include="'toknSettings.htm'"></div>
        </div>

        <!-- status -->
        <div class="col-lg-3 col-padding">
            <div class="panel status" ng-class="tokenSettings.$error.required ? 'panel-warning' : 'panel-default' " ng-include="'toknStatus.htm'"></div>
        </div>

    </form>

    <!-- results -->
    <div class="col-lg-3 col-padding">

        <div class="panel panel-primary">
            <div class="panel-heading" ng-click="collapse.results = !collapse.results">
                <h3 class="panel-title">
                    <span class="glyphicon" ng-class="{'glyphicon-chevron-down': collapse.results, 'glyphicon-chevron-up': !collapse.results}"></span>
                    Results</h3>
            </div>
            <div uib-collapse="collapse.results" class="panel-body">
                <div ng-hide="time.deadline" class="alert alert-warning">
                    No ongoing event.
                </div>
                <!--<uib-progressbar value="user.percentComplete">
                    <span style="color:white; white-space:nowrap;">{{user.percentComplete}}
                    </span>
                </uib-progressbar>-->
                <div class="alert alert-warning" ng-show="tokenSettings.$error.required" style="margin-top:15px;">
                    Missing input from Status.
                </div>
                <div ng-show="time.deadline">

                    <div ng-hide="tokenSettings.$error.required">
                        <ul class="list-group">
                            <li class="list-group-item">Event Lives Needed:
                                <span class="badge">{{calcEventLivesNeeded()}}</span>
                            </li>
                            <li class="list-group-item">Normal Lives:
                                <span class="badge">{{calcNormalLivesNeeded()}}</span>
                            </li>
                            <li class="list-group-item">End Rank:
                                <span class="badge">{{calcEndRank()}}</span>
                            </li>
                            <li class="list-group-item list-group-item-tall">Points w/ Natural Stamina:
                                <span class="badge">{{calcNaturalPts() | number: 0}}</span>
                            </li>
                            <li class="list-group-item">Stamina Deficit:
                                <span class="badge">{{calcStamDeficit()}}</span>
                            </li>
                            <li class="list-group-item" ng-class="">Play Time:
                                <span class="badge">{{calcPlayTime() | time:'mm':'hhh mmm':false}}</span>
                            </li>
                        </ul>
                        <div class="alert alert-warning" ng-show="{{enoughTime()}}">The event will have ended before reaching your goal :(</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
