<div class="panel-heading" ng-click="collapse.song = !collapse.song">
    <h3 class="panel-title">
        <span class="glyphicon" ng-class="{'glyphicon-chevron-down': collapse.song, 'glyphicon-chevron-up': !collapse.song}"></span>
        Song Settings {{panelSize}}</h3>
</div>
<div uib-collapse="collapse.song" class="panel-body tokn">
    <form class="form-horizontal" role="form" name="lives">

        <div class="song-table">
            <div class="form-group col-xs-12">
                <label class="control-label" for="n_stam">Normal Song Stamina Cost:
                </label>
                    <select name="n_stam" id="n_stam" ng-model="norm.stam" ng-options="stam for stam in staminas" ng-change="updateNorm()"></select>
            </div>

            <div class="form-group col-xs-12">
                <label class="control-label">Normal Song Score:
                </label>
                <div class="btn-group controls">
                    <label class="btn btn-info" ng-model="norm.score" uib-btn-radio="'S'" ng-change="updateNorm()">
                        S</label>

                    <label class="btn btn-info" ng-model="norm.score" uib-btn-radio="'A'" ng-change="updateNorm()">
                        A</label>

                    <label class="btn btn-info" ng-model="norm.score" uib-btn-radio="'B'" ng-change="updateNorm()">
                        B</label>

                    <label class="btn btn-info" ng-model="norm.score" uib-btn-radio="'C'" ng-change="updateNorm()">
                        C</label>
                </div>
            </div>

            <div class="form-group col-xs-12">
                <label class="control-label">Normal Song Multiplier
                </label>
                <div class="btn-group controls">
                    <label class="btn btn-info" ng-model="norm.mul" uib-btn-radio="1">
                        1</label>
                    <label class="btn btn-info" ng-model="norm.mul" uib-btn-radio="2">
                        2</label>
                </div>

            </div>

            <div class="form-group col-xs-12">
                <label class="control-label">Event Difficulty</label>
                <div class="btn-group controls">
                    <label class="btn btn-info" ng-model="tokn.diff" uib-btn-radio="'Debut'" ng-change="updateTokn()">
                        Debut</label>

                    <label class="btn btn-info" ng-model="tokn.diff" uib-btn-radio="'Regular'" ng-change="updateTokn()">
                        Regular</label>

                    <label class="btn btn-info" ng-model="tokn.diff" uib-btn-radio="'Pro'" ng-change="updateTokn()">
                        Pro</label>

                    <label class="btn btn-info" ng-model="tokn.diff" uib-btn-radio="'Master/+'" ng-change="updateTokn()">
                        Master/+</label>
                </div>

            </div>

            <div class="form-group col-xs-12">
                <label class="control-label">Event Song Score</label>
                <div class="btn-group controls">
                    <label class="btn btn-info" ng-model="tokn.score" uib-btn-radio="'S'" ng-change="updateTokn()">
                        S</label>

                    <label class="btn btn-info" ng-model="tokn.score" uib-btn-radio="'A'" ng-change="updateTokn()">
                        A</label>

                    <label class="btn btn-info" ng-model="tokn.score" uib-btn-radio="'B'" ng-change="updateTokn()">
                        B</label>

                    <label class="btn btn-info" ng-model="tokn.score" uib-btn-radio="'C'" ng-change="updateTokn()">
                        C</label>
                </div>
            </div>

            <div class="form-group col-xs-12">
                <label class="control-label">Event Song Multiplier
                </label>
                <div class="btn-group controls">
                    <label class="btn btn-info" ng-model="tokn.mul" uib-btn-radio="1" ng-change="updateTokn()">
                        1</label>
                    <label class="btn btn-info" ng-model="tokn.mul" uib-btn-radio="2" ng-change="updateTokn()">
                        2</label>
                    <label class="btn btn-info" ng-model="tokn.mul" uib-btn-radio="4" ng-change="updateTokn()">
                        4</label>
                </div>
            </div>
        </div>
    </div>
</form>

</div>
