.panel-heading a, .panel-heading a:hover {
    color: inherit;
    text-decoration: none;
}
select {
    color: #ddd;
    background-color: #777;
    border: none;
    border-radius: 3px;
    padding: 3px 5px;
    display: inline;
    text-align: center;
    width: 100%;
}
input {
    color: #ddd;
    background-color: #777;
    padding: 3px 0px 3px 10px;
    border: none;
    border-radius: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: inherit;
}
input:focus {
    background-color: #ddd;
    color: #333;
}
.panel, .panel-heading, .panel-body {
    transition: background-color 300ms linear;
    transition: border-color: 300ms linear;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */``
    /*height: 30px;*/
    margin: 0px;
    padding: 5px 10px;
    vertical-align: middle;
    background: #464545;
}
.panel .list-group, .panel .list-group-item {
    background-color: #222;
}
.col-padding {
    padding: 10px;
}
.panel-body .alert, .panel-body .list-group {
    margin: 0
}
.panel-heading .glyphicon {
    margin-right: 5px;
}
.panel-group .panel+.panel {
    margin-top: .5em;
}
a, a:hover, a:active, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #3498db;
}
.panel-heading {
    cursor: pointer;
    font: inherit;
}
.tokn .form-horizontal {
    position: absolute;
}
.tokn .control-label {
    height: 20px;
}
.bg-warning, .panel-warning .panel-heading, .alert-warning {
    background: #B97D1B !important;
}
.song-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: .25em .5em;
}
.control-label {
    display: block;
}
.form-group {
    margin: 0px 0px 15px 0px;
    padding: 5px;
}
.controls {
    margin-left: 10px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.status .form-group, .timing .form-group {
    margin: 0px 0px 10px 0px;
}
.status .panel-body {
    padding-bottom: 25px;
}
.panel-group {
    padding-top: 15px;
}
.diffs {
    padding: 10px 0px !important;
    font-size: 13px !important;
}
@media (min-width: 1200px) {
    .panel {
      min-width: 275px;
    }
    .diffs {
        padding: 3px 0px !important;
        font-size: 11px !important;
    }
    .list-group-item-tall {
      height: 60px;
      padding: 3% 8%;
    }
}
form {
  margin: 0px;
}
